<div class="image-container">
    <app-header></app-header>
    <div class="login-container">
        <div class="content-container">
            <div class="info-container">
                <h1>SAIBA COMO USAR</h1>
    
                <p>Em seu primeiro acesso crie um Usuário e uma Senha Internet na opção CADASTRAR. Os dados (nome, CPF e data de nascimento) devem ser informados conforme cadastro na Receita Federal. Dessa forma você estará apto para consultar saldo, extrato da conta ou extrato de compras com cartão de débito.</p>
                <p>Para realizar transações financeiras é necessário cadastrar a assinatura eletrônica e o dispositivo a ser utilizado.</p>
                <p>A assinatura eletrônica pode ser cadastrada no próprio Internet Banking CAIXA na opção Configurar Acesso > Consultar contas, caso o cartão da sua conta possua chip. Após o cadastramento você deve desbloqueá-la em um de nossos Caixas Eletrônicos, na opção Outros Serviços > Outros Serviços > Senhas e validações de acesso > Desbloqueio de assinatura eletrônica.</p>
            </div>
            <div class="form-container">
                <nav class="navbar navbar-light bg-light">
                    <div class="div-navbar -active">
                        <a class="navbar-brand" href="#">Login</a>
                    </div>
                    <div class="div-navbar">
                        <a class="navbar-brand" href="#">Cadastro</a>
                    </div>
                </nav>
                <form class="form-login">
                    <div class="form-group">
                        <div class="input-group">
                            <input placeholder="Digite sua conta"
                                   type="text"
                                   id="account"
                                   name="account"
                                   class="bank-input form-control text-muted"
                                   [(ngModel)]="loginData.account"
                                   maxlength="8"
                                   inputmode="numeric"
                                   pattern="[0-9]*">
                                   <!-- digitOnly -->
                            <i class="icon fa fa-user"></i>
                        </div>    
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <input placeholder="******"
                                   type="password"
                                   id="password"
                                   name="password"
                                   class="bank-input form-control text-muted"
                                   disabled
                                   [(ngModel)]="password"
                                   maxlength="6"
                                   >
                            <i class="icon fa fa-lock"></i>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="control-numbers">
                            <div class="numbers" *ngFor="let randomNumber of randomNumbers">
                                <button class="btn btn-primary" (click)="addPasswordNumber(randomNumber)">{{randomNumber[0]}} ou {{randomNumber[1]}}</button>                                
                            </div>
                            <div class="numbers">
                                <button class="btnDelete btn btn-primary" (click)="deletePassword()">DEL</button>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="submit-number">
                            <div class="numbers">
                                <button class="btnSubmit btn btn-primary" (click)="login()">Enviar</button>
                            </div>
                            <small class="forgot-password">Esqueceu sua senha? <br><a href="password/forgot">Clique aqui</a> para redefinir.</small>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <app-footer></app-footer>
</div>