.menu {
    height: 100vh;
    width: 250px;
    margin-top: -70px;
    background-color: grey;

    > .bank-name {
        height: 70px;
        background-color: orange;
        font-style: italic;
    }

    > .bank-name, .user-info {
        display: flex;
        justify-content: center;
        align-items: center; 
    }

    > .user-info {
        height: 200px;
    }

    > .menu-links {
        .item-link {
            padding: 10px;
        }

        .item-link:hover {
            background-color: #ffffff6e;
        }
        
        a {
            text-decoration: none;
            color: white;
        }
    }
}