.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
    background-color: #4f4d4da8;
    // position: absolute;
    color: white;
}

@media screen and (max-height: 530px), screen and (max-width: 1000px) {
    .footer {
        margin-top: 20px;
    }
}